#!/usr/bin/make -f

PACKAGE=scala-mode-el

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	$(MAKE) clean
	dh_clean

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

build-stamp:
	dh_testdir
	$(MAKE) autoloads
	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs usr/share/emacs/site-lisp/scala-mode
	cp *el debian/scala-mode-el/usr/share/emacs/site-lisp/scala-mode

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installemacsen
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
